---
http_interactions:
- request:
    method: get
    uri: http://feeds.rssboard.org/rssboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Etag:
      - +n3tiByt7ciDl8uMqHEh6Bmgx9c
      Last-Modified:
      - Tue, 13 Nov 2012 17:41:04 GMT
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet type=\"text/css\"
        media=\"screen\" href=\"http://feeds.rssboard.org/~d/styles/itemcontent.css\"?><rss
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:wordzilla=\"http://www.cadenhead.org/workbench/wordzilla/namespace\"
        xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\" version=\"2.0\">\r\n
        \ <channel>\r\n    <title>RSS Advisory Board</title>\r\n    <link>http://www.rssboard.org/</link>\r\n
        \   <description>RSS Advisory Board announcements and Really Simple Syndication
        news</description>\r\n    <language>en-us</language>\r\n    <docs>http://www.rssboard.org/rss-specification</docs>\r\n
        \   <generator>Wordzilla/0.58</generator>\r\n    <ttl>10</ttl>\r\n    \r\n
        \   <feedburner:info uri=\"rssboard\" /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\"
        rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\" /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\"
        rel=\"self\" type=\"application/rss+xml\" href=\"http://feeds.rssboard.org/rssboard\"
        /><feedburner:feedFlare href=\"http://add.my.yahoo.com/rss?url=http%3A%2F%2Ffeeds.rssboard.org%2Frssboard\"
        src=\"http://us.i1.yimg.com/us.yimg.com/i/us/my/addtomyyahoo4.gif\">Subscribe
        with My Yahoo!</feedburner:feedFlare><feedburner:feedFlare href=\"http://www.newsgator.com/ngs/subscriber/subext.aspx?url=http%3A%2F%2Ffeeds.rssboard.org%2Frssboard\"
        src=\"http://www.newsgator.com/images/ngsub1.gif\">Subscribe with NewsGator</feedburner:feedFlare><feedburner:feedFlare
        href=\"http://feeds[...]
